
body{
     margin: auto;
     height: 2500px;
     width: 99%;
     background-color: black;
}

h1,h2{
     color: white;
     text-align: center;
}

button{
     background-color: rgba(0, 0, 0, 0);
     border: none
     ;
}

button:hover{
     border: 2px dashed rgba(255, 255, 255, 0.324);
     border-radius: 50px;
}


#wrapper {
     
     margin: auto;
     height: 2500px;
     width: 99%;
     background-color: rgb(0, 0, 0);
}

#SOL {
     margin: auto;
     text-align: center;
     align-items: center;
     padding-top: 150px;
}

#title{
     margin: auto;
     text-align: center;
     font-size: larger;
     font-style: bold;
     color: rgb(255, 255, 255);
     padding-top: 10px;
     height: 1px;
     width: 50%;
}

#moon_div {
     position: relative;
     margin: auto;
     text-align: center;
     align-content: center;
     height: 200px;
     width: 200px;
}

#mercury_div {
     margin: auto;
     text-align: center;
     align-content: center;
     height: 200px;
     width: 200px;
}

#venus_div {
     margin: auto;
     text-align: center;
     align-content: center;
     height: 200px;
     width: 200px;
}

#earth_div {
     margin: auto;
     text-align: center;
     align-content: center;
     height: 200px;
     width: 200px;
}

#mars_div {
     margin: auto;
     text-align: center;
     align-content: center;
     height: 200px;
     width: 200px;
}

#jupiter_div {
     margin: auto;
     text-align: center;
     align-content: center;
     height: 300px;
     width: 300px;
}

#saturn_div {
     margin: auto;
     text-align: center;
     align-content: center;
     height: 300px;
     width: 300px;
}

#uranus_div {
     margin: auto;
     text-align: center;
     align-content: center;
     height: 200px;
     width: 200px;
}

#neptune_div {
     margin: auto;
     text-align: center;
     align-content: center;
     height: 200px;
     width: 200px;
}

#sun_div {
     position: 0,0;
     text-align: center;
     height: 1800px;
     width: 1800px;
}

#allView {
     position: relative;
     padding-top: 100px;
     display: flex;
     margin: auto;
     width: 90%;
}

#moon_div2 , #mercury_div2, #mars_div2 , #venus_div2, #earth_div2, #neptune_div2, #uranus_div2, #saturn_div2, #jupiter_div2{
     margin: auto;
     text-align: center;
}

